@model Timesheetify.Models.Model

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="status">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <p id="small">@Model.Error</p>
    </div>
}
else if (Model.ShowSuccess)
{
    <div class="status">
      <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      <p id="small">@Model.Success</p>
    </div>
}

@using (Html.BeginForm("Save", "Home"))
{

  <div class="main-form">
    <h2 class="text-center">Synchronize</h2>
    <div class="form-group">
      <label class="control-label">User</label>
      @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @readonly = "readonly"})
    </div>

    <div class="form-group">
      <label class="control-label">Toggl API token</label>
      <div class="input-group">
        @Html.TextBoxFor(m => m.ApiKey, new {@class = "form-control", id = "togglKey"})
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Save"/>
        </span>
      </div>
    </div>

    @*<div class="form-group">
      <label class="col-sm-3 control-label">Timesheet to <a href="https://www.toggl.com/app/">Toggl</a></label>
      <div class="col-sm-9">
        <button type="button" class="btn btn-primary pull-left action" data-toggle="modal" data-target="#m2">Start sync</button>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">
        Toggl to <a href="http://projects.netgroupdigital.com/PWA/Timesheet.aspx">Timesheet</a>
      </label>
      <div class="col-sm-9">
        <button type="button" class="btn btn-primary pull-left action" data-toggle="modal" data-target="#m1">Start sync</button>
      </div>
    </div>*@

    <label class="control-label">Synchronize</label>
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-default" data-toggle="modal" data-target="#m2" id="timesheet-to-toggl">Timesheet to Toggl</a>
      <a href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#m1" id="toggl-to-timesheet">Toggl to Timesheet</a>
    </div>
  </div>
}


<!-- Modal -->
<div class="modal fade" id="m1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request authentication</h4>
      </div>
      @using (Html.BeginForm("UpdateTimesheet", "Home"))
      { <div class="modal-body">

          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">User</label>
              <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
              </div>
            </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary submit" data-dismiss="modal">Confirm</button>
      </div>}
    </div>
  </div>
</div>

<div class="modal fade" id="m2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request authentication</h4>
      </div>
      @using (Html.BeginForm("UpdateToggl", "Home"))
      { <div class="modal-body">
      
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">User</label>
              <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary submit" data-dismiss="modal">Confirm</button>
        </div>}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $("button.submit").click(function() {
      $(this).closest("form").submit();
      $("form:first").append("<div class=\"text-center\"><div class=\"preloader5\"><span></span><span></span><span></span></div></div>");
      $("input, button.action").prop("disabled", "disabled");
    });
  });
</script>
