@using Microsoft.Ajax.Utilities
@model Timesheetify.Models.Model

@if (!string.IsNullOrEmpty(Model.Success))
{
    <div class="alert alert-success" role="alert">
        @(Model.Success)
    </div>
}
@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger" role="alert">@Model.Error</div>
}
@using (Html.BeginForm("Save", "Home"))
{
    <div class="main-form-container">
        <div class="main-form">
            <div class="front">
                <h2 class="text-center"></h2>
                <div class="form-group">
                    <label class="control-label">User</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="form-group">
                    <label class="control-label">Toggl API token</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ApiKey, new { @class = "form-control", id = "togglKey" })
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </span>
                    </div>
                </div>

                @if (!Model.ApiKey.IsNullOrWhiteSpace())
                {
                    <div class="form-group">
                        <a href="#" data-toggle="modal" class="pull-right" data-target="#m4">Advanced settings</a>
                    </div>}

                <div id="main-form-actions">
                    <button class="btn action" data-toggle="modal" data-target="#m2" id="timesheet-to-toggl">
                        <span class="hidden-xs">Timesheet to Toggl</span>
                    </button>
                    <button href="#" class="btn action" data-toggle="modal" data-target="#m1" id="toggl-to-timesheet">
                        <span class="hidden-xs">Toggl to Timesheet</span>
                    </button>
                </div>
            </div>

            <div class="back">
                <div class="synchronizing">
                    <div class="pad">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                        <div class="line line4"></div>
                    </div>
                    <div class="text">
                        Please wait, doing stuff...
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="m1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            @using (Html.BeginForm("UpdateTimesheet", "Home"))
            { <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Week to sync</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.SelectedWeek, Model.Weeks, new { @class = "form-control" })
                        </div>
                    </div>
                    @if (Model.AutosubmitEnabled)
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Approver</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.SelectedApprover, Model.Approvers, new { @class = "form-control" })
                            </div>
                        </div>
}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>

                <button type="submit" class="btn btn-primary submit" data-dismiss="modal">Confirm</button>
            </div>}
        </div>
    </div>
</div>

<div class="modal fade" id="m2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            @using (Html.BeginForm("UpdateToggl", "Home"))
            {
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary submit" data-dismiss="modal">Confirm</button>
                </div>}
        </div>
    </div>
</div>

@if (!Model.ApiKey.IsNullOrWhiteSpace())
{
    Html.RenderAction("Index", "Settings");
}

@if (Model.Notification != null)
{
    Html.RenderPartial("_Notification", Model.Notification);
}

<script type="text/javascript">
    $(function () {
        $("button.submit").click(function () {
            $(this).closest("form").submit();

            setTimeout(function () {
                $('.main-form').toggleClass('loading');
            }, 1000);

            $("input, button.action").prop("disabled", "disabled");
            $(".alert").remove();
        });

        $("input[type='checkbox']").bootstrapSwitch();
    });
</script>
